{% extends "layout.html" %}
{% block title %}
    About / Frequently Asked Questions
{% endblock %}

{% block main %}
    <!-- Main content -->
    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-light">
            <h1 class="display-4">About STRAYS</h1>
            <hr>
        </div>
    </div>

        <!-- Two-column layout -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Mission statement card -->
                <div class="card mb-5">
                    <div class="card-header card-text">
                        <h2>Mission Statement</h2>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Our mission is to help document stray cats and dogs and connect them with owners or find them new loving homes.</p>
                    </div>
                </div>

                <!-- Proper usage card -->
                <div class="card mb-5">
                    <div class="card-header card-text">
                        <h2>Proper Usage</h2>
                    </div>
                    <div class="card-body">
                        <p class="card-text">To properly use the Stray Animals Web App, please follow these guidelines:</p>
                        <ul class="card-text">
                            <li>Fill out the form with accurate and detailed information about the stray animal INCLUDING specifics on its location (i.e. cat hangs out in my barn, but roams the neighborhood)</li>
                            <li>Include a clear and recent photo of the stray animal</li>
                            <li>Be respectful and considerate towards the animal</li>
                            <li>Do not attempt to capture or handle the animal if it appears to be aggressive or dangerous</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <!-- FAQ list-group -->
                <div class="card">
                    <div class="card-header card-text">
                        <h2>Frequently Asked Questions</h2>
                    </div>
                    <div class="card-body">
                    <a href="#" class="list-group-item list-group-item-action">
                        <h3 class="mb-0">Q: How can I report a stray animal?</h3>
                        <p class="mb-0">A: You can report a stray animal by filling out the form on the website with accurate and detailed information about the animal and its location.</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <h3 class="mb-0">Q: What should I do if I find a lost pet?</h3>
                        <p class="mb-0">A: You should try to identify the pet and its owner, and contact them as soon as possible. You can also report the lost pet on the Stray Animals Web App to help reunite it with its owner.</p>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}